.loader-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

  .loader-text {
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 100px;
    margin-bottom: 10px;
  }
  
  .loader-box {
    width: 100%;
    height: 10px;
    position: relative;
  }
  
  .loader-bar-container {
    width: 100%;
    height: 10px;
    border: 1px;
    border-style: solid;
    overflow: hidden;
  }
  
  .loader-bar {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #4caf50, #ff9800);
    transition: width 1s ease;
  }

  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400&display=swap');

  .loader-h1 {
    margin-bottom: -25px;
    font-family: 'Black Ops One', sans-serif;
    font-size: 16px;
    text-align: left;
  }


  
  